version: 0.4.0.{build}

branches:
  only:
    - master
    - travis

environment:
  matrix:
  - TARGET: Python34
    ARCH: 32

  - TARGET: Python34-x64
    ARCH: 64

  - TARGET: Python35
    ARCH: 32

  - TARGET: Python35-x64
    ARCH: 64

  - TARGET: Python36
    ARCH: 32

  - TARGET: Python36-x64
    ARCH: 64

install:
  - cmd: echo Testing sciter%ARCH% with %TARGET%.
  - cmd: echo Current directory is %APPVEYOR_BUILD_FOLDER%
  - cmd: set PATH=C:\%TARGET%;C:\projects\deps;%PATH%;
  - python --version

  - mkdir ..\deps
  - curl -so "..\deps\sciter.dll" "https://raw.githubusercontent.com/c-smile/sciter-sdk/master/bin.win/x%ARCH%/sciter.dll"

build_script:
  - cmd: cd
  - python setup.py install

test_script:
  - cmd: cd
  - python tests\test_value.py
